body {
	margin: 0; 
	padding: 0;
	background-image: url(img/arq1.jpg);
	opacity: 100%;
	background-size: cover;
	font-family: 'Times New Roman', Times, serif;
	
}

.login {
	width: 320px; /* Tamanho esquerda + direita box de login */
	height: 380px; /* Tamanho do topo + base do box de login */
	border: 3px solid rgb(3, 212, 55); /* Cor e tamanho da borda do box login*/
	border-radius: 50px 0px 50px 0px; /* Pontas esq topo, dir topo, esq inferior, dir inferior*/
	color: #fff; /* Cor das lestras "Login, Usuário e senha"*/
	background-color: rgb(0, 0, 0); /* Cor do fundo box login */
	top: 60%; /* Distância do topo */
	left: 50%; /* Distância da esquerda */
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 50px 20px; /* Distância das palavras até a borda*/
	
}

.usuario {
	border-radius: 25%; /* Borda do avatar*/
	position: absolute;
	top: -30%; /* Distância do topo */
	left: 112px; /* Posição esqueda e direita */
}

h1 { /* Edição da palavra "Login" */
	margin: 0;
	padding-top: 0;
	padding-left: 0;
	padding-bottom: 20px;
	letter-spacing: 10px;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
}

.login p { /* Edição das palavras "Usuário" e "Senha" */
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.login input { /* Edição das caixas de usuario e senha*/
	width: 100%;
	margin-bottom: 21px;

}

.login input [type="text"], input [type="password"] { /* Edição dos dados colocados em usuário e senha*/
	border: none;
	border-bottom: 1px solid white;
	background: transparent;
	outline: none;
	height: 40px;
	color: white;
	font-size: 16px;
	
}

.login input [type="submit"] { /* Edição do botão "Iniciar sessão"*/
	border: none;
	outline: none;
	height: 50px;
	color: #000;
	background: #fff;
	border-radius: 20px;
	transition: 0.2s;

}

.login input [type="submit"]:hover {
	cursor: pointer;
	background: #ff4d4d;
	transition: 0.2s;
} 

.login a {
	font-weight: bold;
	text-decoration: none;
	font-size: 16px;
	line-height: 20px;
	color: #575353;
	transition: 0.5s;
}

.login a:hover {
	transition: 0.5s;
	color: #ff4d4d;
}


