/*Corpo HTML*/

html {
    width: 100%;
    height: 100%
}

body {
    margin: 0;
    background-color: #DCDCDC;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


/*--------------------------------------*/


/*Menu*/

.menu {
    position: relative;
    width: 100%;
    height: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    background-color: #474747;
    border-radius: 20px;
}

.menu ul {
    padding: 0x;
    margin: 10px;
    list-style: none;
}

.menu ul li {
    width: auto;
    height: 53px;
    float: left;
}

.menu a {
    margin: 0px 0px 0px;
    padding: 12px 18px;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    background: #474747;
    color: #ffffff;
    font-weight: bold;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.menu ul li:hover ul {
    visibility: visible;
}

.menu a:link,
a:visited {
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
    color: #050000;
    background-color: rgb(255, 255, 255);
}

.menu a:active {
    text-decoration: none;
    color: #ffffff;
    background-color: #050000;
}


/*----------------------------------------------------------------------------*/


/*Inserir Cliente*/

#cadastro {
    position: relative;
    width: 95%;
    border: 1px solid #696969;
    border-radius: 20px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-size: 16px;
    text-transform: uppercase;
}

#pf-pj {
    position: relative;
    float: left;
    width: 8%;
    border: 1px solid #696969;
    border-radius: 20px;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 10px;
}

#form-pf {
    position: relative;
    border: none;
}

#tab11 {
    width: 87%;
    table-layout: fixed;
    font-family: Arial, monospace;
    font-size: 14px;
    border: none;
}

#tab11 td {
    width: 70%;
    height: 10px;
    text-align: left;
    padding: 3px;
    padding-left: 20px;
}

#sexo1 {
    position: relative;
    width: 10%;
    float: right;
    border: 1px solid #696969;
    border-radius: 20px;
    font-family: Arial;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 3px;
}

#form-pj {
    position: relative;
    border: none;
}

#tab12 {
    width: 100%;
    table-layout: fixed;
    font-family: Arial, monospace;
    font-size: 16px;
    border: none;
    margin-top: -20px;
}

#tab12 td {
    width: 100%;
    height: 10px;
    text-align: left;
    padding: 4px;
    padding-left: 30px;
}

#endereco1 {
    position: relative;
    width: 95%;
    height: 100px;
    border: 1px solid #696969;
    border-radius: 20px;
    margin: -30px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-size: 16px;
    text-transform: uppercase;
}

#end1 {
    position: relative;
    border: none;
}

#tab13 {
    width: 90%;
    table-layout: fixed;
    font-family: Arial, monospace;
    font-size: 16px;
    border: none;
}

#tab13 td {
    width: 90%;
    height: 15px;
    text-align: left;
    padding: 3px;
    padding-left: 30px;
}

#cobranca {
    position: relative;
    float: right;
    width: 5%;
    border: 1px solid #696969;
    border-radius: 20px;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: -67px;
}

#endereco2 {
    position: relative;
    width: 95%;
    height: 90px;
    border: 1px solid #696969;
    border-radius: 20px;
    font-family: Arial;
    font-size: 16px;
    text-transform: uppercase;
    margin: 37px;
    margin-left: 20px;
    margin-bottom: -30px;
}

#tab14 {
    width: 100%;
    table-layout: fixed;
    font-family: Arial, monospace;
    font-size: 16px;
    border: none;
}

#tab14 td {
    width: 100%;
    height: 30px;
    text-align: left;
    padding-left: 40px;
}

#cont {
    position: relative;
    width: 95%;
    border: 1px solid #696969;
    border-radius: 8px;
    margin: 35px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-size: 16px;
    text-transform: uppercase;
}

#tab15 {
    width: 100%;
    table-layout: fixed;
    font-family: Arial, monospace;
    font-size: 16px;
    border: none;
}

#tab15 td {
    width: 100%;
    height: 20px;
    text-align: left;
}

.btn8 input {
    font-family: Arial;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
    padding: 10px;
    float: left;
    margin: -50px;
    margin-left: 20px;
    color: #ffffff;
    background: #696969;
}


/*----------------------------------------------------------------------------*/


/*Cadastrar contrato*/

#cadastro-contrato {
    position: relative;
    border: none;
}

#dadosfin {
    position: relative;
    width: 95%;
    border: 1px solid #696969;
    border-radius: 20px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-size: 16px;
    text-transform: uppercase;
}

#endereco-contrato {
    position: relative;
    width: 95%;
    border: 1px solid #696969;
    border-radius: 20px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-size: 16px;
    text-transform: uppercase;
}

#tab16 {
    width: 100%;
    table-layout: fixed;
    font-family: Arial, monospace;
    font-size: 16px;
    border: none;
}

#tab16 td {
    width: 100%;
    height: 20px;
    text-align: left;
    padding-left: 0px;
}

#tab17 {
    width: 100%;
    table-layout: fixed;
    font-family: Arial, monospace;
    font-size: 16px;
    border: none;
}

#tab17 td {
    width: 100%;
    height: 20px;
    text-align: left;
}

#btn9 {
    font-family: Arial;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
    padding: 8px;
    float: left;
    margin: 0px;
    margin-left: 0px;
    color: #ffffff;
    background: #696969;
}


/*Telas de Consulta/Editar*/

#dadosfin2 {
    position: relative;
    width: 95%;
    border: 1px solid #696969;
    border-radius: 20px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-size: 16px;
    text-transform: uppercase;
}

#end2 {
    position: relative;
    margin-top: 0pxpx;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    border: none;
}

#cont1 {
    position: relative;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -40px;
}

#btn10 {
    font-family: Arial;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
    padding: 8px;
    float: left;
    margin: 0px;
    margin-left: 20px;
    color: #ffffff;
    background: #696969;
}

#btn11 {
    font-family: Arial;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
    padding: 8px;
    float: left;
    margin: 0px;
    margin-left: 0px;
    color: #ffffff;
    background: #696969;
}

#btn11 a {
    text-decoration: none;
    color: #ffffff;
}

#btn12 {
    font-family: Arial;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
    padding: 8px;
    float: left;
    margin: 0px;
    margin-left: 20px;
    color: #ffffff;
    background: #696969;
}

#tab18 {
    width: 95%;
    table-layout: fixed;
    font-family: Arial, monospace;
    font-size: 16px;
    border: none;
    margin-top: 0px;
}

#tab18 td {
    width: 100%;
    height: 10px;
    text-align: left;
    padding: 4px;
    padding-left: 30px;
}

.scroll-Cprojeto {
    overflow: scroll;
    overflow: auto;
    border: solid 1px #696969;
    width: 90%;
    height: 100px;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
}

#tab19 {
    width: 100%;
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
    font-family: Arial, monospace;
    font-size: 16px;
}

#tab19 tr th {
    text-transform: uppercase;
    padding: .5em;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

#tab19 td {
    padding: .8em;
}

.lancamentos {
    font-family: Arial, monospace;
    font-size: 16px;
    text-transform: uppercase;
    margin: 30px;
    margin-left: 200px;
}

#btn13 {
    font-family: Arial;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 15px;
    position: relative;
    padding: 8px;
    float: left;
    margin: 0px;
    margin-left: 40px;
    color: #ffffff;
    background: #696969;
}